<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 50px; margin-bottom: 20px">
      <mat-card style="margin: 0">
        <div class="row">
          <div class="column" *ngFor="let ctg of categories">
            <div class="card">
              <img src="{{ctg.avatar}}" alt="">
              <b style="color: #ee0bc1; font-size: 1.5vw ">{{ctg.name}}</b>
            </div>
          </div>
        </div>
<!--        <mat-paginator [pageSizeOptions]="[3,6,9]" [length]="totalElements"-->
<!--                       (page)="nextPage($event)"></mat-paginator>-->
        <mat-paginator [length]="totalElements"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page" (page)="nextPage($event)">
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>

